@layer utilities {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
  }

  .btn-overlay {
    color: var(--blue-2);
    background-color: transparent;
  }
  .btn-overlay:hover {
    background-color: rgba(0, 108, 228, 0.1);
  }

  .btn-primary {
    color: var(--light);
    background-color: var(--blue-2);
  }
  .btn-primary:hover {
    background-color: var(--blue);
  }

  .btn-primary-outline {
    color: var(--blue-2);
    background-color: transparent;
    border: 1px solid var(--blue-2);
  }
  .btn-primary-outline:hover {
    background-color: rgba(0, 108, 228, 0.1);
  }

  .btn-secondary-secondary {
    border-radius: 999px;
    background-color: transparent;
    border: 1px solid var(--text);
  }
  .btn-secondary-secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .ms {
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
    line-height: 1;
    display: inline-flex;
    align-items: center;
  }

  .btn .ms {
    font-size: 1.35rem;
    flex: 0 0 auto;
  }

  .btn:has(.ms) {
    gap: 0.5rem;
  }

  .btn:has(.ms:only-child) {
    padding: 0.5rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
    gap: 0;
  }

  .btn .ms + * {
    margin-left: 0.5rem;
  }

  .btn .ms:only-child {
    margin-left: 0;
  }
}
