@layer utilities {
  .link {
    color: var(--link, #2563eb);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .link:visited {
    color: var(--link, #2563eb);
    opacity: 0.8;
  }
  .link:hover {
    color: var(--blue-2, #006ce4);
    text-decoration: underline;
  }
  .link:active {
    color: var(--blue, #003b95);
  }

  .link-strong {
    font-weight: 600;
  }

  .link-underline {
    text-decoration: underline;
  }
}
