* {
  box-sizing: border-box;
}
html,
body,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
p button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;

  box-shadow: none;
  outline: none;
  cursor: pointer;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
